name: CI
on: push
jobs:
  flake-test-x86:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: check flake
        run: nix flake check --impure

  flake-test-arm:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: check flake
        run: nix flake check --impure

  lock-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: check lock file
        run:
          nix flake lock --no-update-lock-file

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Lint code
        run: |
          nix develop --impure --command lint

  build-test-arm:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: check config builds
        run: |
          nix build .#nixosConfigurations.eir.config.system.build.toplevel -j4

  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - hel
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: check config builds
        run: |
          nix build .#nixosConfigurations.${{ matrix.module }}.config.system.build.toplevel

  home-build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - henry@hel
          - henry@tyr
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: check config builds
        run: |
          nix build .#homeConfigurations."${{ matrix.module }}".activationPackage